.App {
    --primary-color: #334257;
    --secondary-color: #476072;
    --tertiary-color: #548CA8;
    --code-snippet-bg: #EEEEEE;
}

header {
    background-color: var(--primary-color);
    color: white;
}

.header-content {
    max-width: 737px;
    margin: auto;
    padding: 1.5rem;
}

main {
    max-width: 737px;
    margin: auto;
    padding: 1.5rem;
}

.primary-btn {
    background-color: var(--tertiary-color);
    color: white;
}