.App {
    --primary-color: #334257;
    --secondary-color: #476072;
    --tertiary-color: #548CA8;
    --code-snippet-bg: #EEEEEE;
}

header {
    background-color: var(--primary-color);
    color: white;
}

.header-content {
    max-width: 737px;
    margin: auto;
    padding: 1.5rem;
}

main {
    max-width: 737px;
    margin: auto;
    padding: 1.5rem;
}

.search-container {
    width: fit-content;
    margin: auto;
}

.issue {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 2rem 1rem;
}

.issue-message {
    padding: 1rem 1.5rem;
}

.issue-content {
    padding: 1rem 1.5rem;
    background: var(--code-snippet-bg);
    margin: 1rem 1rem 2rem;
    border-radius: inherit;
}

.issue-code {
    background-color: var(--primary-color);
    color: white;
    padding: 1em 1.5rem;
    border-radius: 0 0 6px 6px;
    margin: 0;
    font-size: small;
}

.primary-btn {
    background-color: var(--tertiary-color);
    color: white;
}