.issue {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin: 2rem 1rem;
}

.issue-message {
    padding: 1rem 1.5rem;
}

.issue-instance-list {
    margin: 1rem;
}

.issue-instance {
    padding: .5rem 1rem;
}
.instance-selector {
    padding: .5rem 1rem;
    background: var(--primary-color);
    color: white;
    margin: 0;
}
.instance-context {
    padding: .5rem 1rem;
    margin: 0;
    background: var(--code-snippet-bg);
}

.instance-context code {
    word-wrap: break-word;
}

.issue-code {
    background-color: var(--primary-color);
    color: white;
    padding: 1em 1.5rem;
    border-radius: 0 0 6px 6px;
    margin: 1rem 0 0;
    font-size: small;
}
